/* Organizers Section */
.organizers-section {
    background-color: #333333;
    color: #F3F4F5;
    text-align: center;
  }
  
  .organizers-images {
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .organizer-img {
    width: 300px; 
    height: auto;
    border-radius: 8px;
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  